<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>HERE WILL BE LISTED OUR PROJECTS FOR THE PORTFOLIO</p>

    {{> footer}}
  </body>
</html>
